* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  /* border: solid red; */
  padding: 0 24px;
}

.title {
  margin-bottom: 3rem; /* 48/16 = 3rem*/
  width: 180px;
  height: 38px;
  font-weight: 800;
  /* font-size: 32px; */
  font-size: 3rem;
  /* line-height: 120%; */
  line-height: 1.2;
}

.intro-chunk {
  /* margin-top: 96px; */
  /* margin-bottom: 64px; */
  padding-top: 96px;
  padding-bottom: 64px;
  max-width: 415px;
  /* border: solid red; */
}

.intro-chunk p {
  max-height: 60px;
  font-weight: 400;
  font-size: 1.25rem; /* 20/16 == 1.25 rem */
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1rem; /* 16/16 = 1rem*/
}

.intro-chunk p strong {
  /* color: rgba(0, 153, 102, 1); */
  color: hsl(160deg 100% 30%);
}

.intro-chunk p:last-child {
  margin-bottom: 0;
}

.card {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -24px;
  margin-right: -24px;
  height: 312px;
  /* border: solid red; */
  background-color: white;
  padding: 24px;
}

header {
  border-bottom: solid 8px hsl(0 0% 60%);
}

main {
  background-color: rgba(102, 102, 102, 1);
  padding-top: 64px;
  width: auto;
  height: 450px;
}
